<mat-toolbar color="#5213d">
    <mat-toolbar-row>
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
            <div class="toolbar" role="banner">
                 <img src="assets/zetamind.JPG" alt="logo" class="icon_logo">
    
              <span>Welcome </span> 
       
    <span mat-list-item routerLinkActive="list-item-active" routerLink="/teacher"class="teacher" >New Teacher </span>
  
    <span mat-list-item routerLinkActive="list-item-active" routerLink="/student"class="student" >New Student</span>
 
    <span mat-list-item routerLinkActive="list-item-active" routerLink="/teacher_table"class="teachers-table" >Teachers Table</span>

    <span  mat-list-item routerLinkActive="list-item-active" routerLink="/student_table" class="students-table">Students Table</span>
      <div class="spacer"></div>
  </div>
   </ul>
</div>
</mat-toolbar-row>

  
   
   

