<form action="localhost/details.php" method="POST" class="teacher-entry">
  
    <p class="hd"></p> 
    <div >
      <input class="name" type="text" placeholder="Staff No."  >
        </div>
            <div>
           <input class="name" type="text" placeholder="First Name" >
        </div>
      <div>
    <input class="name"type="text" placeholder="Last Name" >
    </div>
    <div>
     <input class="name" type="text"  placeholder="Levels" >
      </div>
      <div>
        <input class="name" type="text"  placeholder="Class Held" >
         </div>
           
         <button class="submit" block="true" type="submit">Submit</button>
  
</form> 
