<form  action="insertstudent.php" method="POST" class="student-entry">
  
    <p class="hd"></p> 
    <div>
      <input class="name" type="text" placeholder="Student No."  >
        </div>
            <div>
           <input class="name" type="text" placeholder="First Name" >
        </div>
      <div>
    <input class="name"type="text" placeholder="Last Name" >
    </div>
    <div>
     <input class="name" type="text"  placeholder="Class" >
      </div>     
         <button class="submit" block="true" type="submit">Submit</button>
  
</form> 
