
:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  h1,
  h2,
  h3,
  h4
  
   {
    margin: 8px 0;
  }
  
  p {
    margin: 0;
  }
  
  .spacer {
     
    flex: 1;
  }
  
  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: #05213d;
    color: white;
    font-weight: 400;
  }
  .icon_logo{
  
      margin-right: 20px;
      width: 20px;
      height: 60px;
  }
  
  .teacher{
      margin-left: 450px;
      margin-right: 50px;
      cursor: pointer; 
      padding: 5px;
  
    }
  .teacher:hover{
    background-color: red;
   
  }
  .student{
      margin-right: 50px;
      cursor: pointer; 
      padding: 5px;
      
  }
  .student:hover{
    
    background-color: indigo;
  }
  .teachers-table{
      margin-right: 50px;
      cursor: pointer; 
      padding: 5px;
    
  }
  .teachers-table:hover{
    background-color: brown;
   
  }
  .students-table{
      margin-right: 50px;
      cursor: pointer; 
      padding: 5px;
  
  }
  .students-table:hover{
    background-color: blue;
    
  }
  
  